*
!app
!app/Http
!app/Http/Controllers
!app/Http/Controllers/*
!app/Http/Controllers/*/*
!app/Http/Controllers/*/*/*
!app/Http/Controllers/*/*/*/*
!app/Http/Controllers/*/*/*/*/*
!app/Http/Middleware
!app/Http/Middleware/CorsMiddleware.php
!app/Model
!app/Model/*
!app/Model/*/*
!app/Model/*/*/*
!app/Model/*/*/*/*
!app/Model/*/*/*/*/*
!app/Helpers
!app/Helpers/*
!bootstrap
!bootstrap/app.php
!database
!database/raw
!database/raw/*
!conf
!conf/*
!routes
!routes/*
!resources
!resources/views
!resources/views/*
!resources/views/*/*
!resources/views/*/*/*
!resources/views/*/*/*/*
!resources/views/*/*/*/*/*
!.gitignore
!.env.example
!composer.json
!docker-compose.yml
!Dockerfile
!index.php
!.htaccess
!webpack.mix.js
!README.md